body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(230, 17%, 14%);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* .bg {
  background-color: hsl(230, 17%, 14%);
  min-height: 100vh;
} */

h2 {
  font-weight: 700;
  color: #fff;
}

.header {
  background-color: hsl(232, 19%, 15%);
  padding: 130px 50px;
}

.grid_container {
  margin-top: -140px;
}

.top_container {
  display: flex;
  justify-content: space-between;
  margin-top: -94px;
}

.header_txt {
  margin-left: 6.5%;
}

.header_txt > p {
  color: hsl(228, 34%, 66%);
  font-size: small;
  font-weight: 600;
  margin-top: -16px;
}

.overview {
  margin-left: 10%;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}

.box-a {
  padding: 50px;
  background-color: hsl(228, 28%, 20%);
  color: hsl(0, 0%, 100%);
}

.top_blue {
  border-top: 5px solid #1a8ff6;
}

.top_gradient {
  border-top: 5px solid hsl(329, 70%, 58%);
}

.top_red {
  border-top: 5px solid hsl(348, 97%, 39%);
}

/* .top_instagram:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  background: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  top: 200px;
  left: 0;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 200px;
  grid-gap: 1.9rem;
  margin: 40px 10%;
}

.grid_b {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 130px 130px;
  grid-gap: 1.9rem;
  margin: 40px 10%;
  grid-auto-flow: row;
}

.box-b {
  padding: 55px 30px;
  background-color: hsl(228, 28%, 20%);
  color: hsl(0, 0%, 100%);
}

.social-icon {
  text-align: center;
  margin-top: -25px;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.txt_middle {
  align-self: center;
}

.fa-facebook-square {
  color: #1a8ff6;
  font-size: 21px;
  margin-right: 9px;
}

.fa-instagram {
  color: hsl(329, 70%, 58%);
  font-size: 21px;
  margin-right: 9px;
}

.fa-twitter {
  color: hsl(203, 89%, 53%);
  font-size: 18px;
  margin-right: 9px;
}

.fa-youtube {
  font-size: 12px;
  color: #392239;
}

.bg_red {
  background-color: hsl(348, 97%, 39%);
  padding: 3px 4px;
  margin-right: 9px;
  border-radius: 50px;
}

.bg_red2 {
  background-color: hsl(348, 97%, 39%);
  padding: 1px 4px;
  border-radius: 10px;
}

.fa-sort-up {
  color: hsl(163, 72%, 41%);
  font-size: 15px;
  padding-top: 4px;
  padding-right: 4px;
}

.fa-sort-down {
  font-size: 15px;
  padding-right: 4px;
  margin-top: -3px;
}

.txt_red {
  color: hsl(356, 69%, 56%) !important;
}

/* .rotate {
  transform: rotate(180deg);
  padding-top: 0 !important;
} */

.counter {
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: hsl(163, 72%, 41%);
}
.large_font {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.spaced_font {
  letter-spacing: 5px;
  color: hsl(228, 34%, 66%);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.top_part {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}

.sort {
  margin-right: 0 !important;
}

.counterb {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: hsl(163, 72%, 41%);
}

.bottom_part {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
}

.counter_number {
  font-weight: 700;
  font-size: 30px;
}

.txt_left {
  font-size: smaller;
  font-weight: 500;
  color: hsl(228, 34%, 66%);
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle_txt {
  padding-right: 20px;
  color: #fff;
}
/* -------------------------------- 

Title: Switch
Descr: Custom ON/OFF checkbox toggle

-------------------------------- */

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.switch__input:checked + .switch__label {
  background-color: hsl(230, 17%, 14%);
}

.switch__input:checked + .switch__label + .switch__marker {
  left: calc(100% - 32px) + 3px;
}

.switch__input:focus + .switch__label,
.switch__input:active + .switch__label {
  --color-shadow: hsla(black, yellow, orange, 0.2);
  box-shadow: 0 0 0 3px var(--color-shadow);
}

.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #f903f9;
  border-radius: inherit;
  z-index: 1;
  transition: background 0.2s;
}

.switch__marker {
  position: relative;
  background-color: white;
  width: calc(32px - 3px * 2);
  height: calc(32px - 3px * 2);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
  left: 3px;
  transition: left 0.2s;
  will-change: left;
}

@media (max-width: 550px) {
  /* .grid {
    display: flex;
    flex-direction: column;
  } */

  .grid {
    grid-template-rows: repeat(4, 270px);
  }
}
